<% if @pc.items.empty? %>
  <div class="text-center">
    <h4>You have no items in your inventory.</h4>
    <div class="text-center">
      <%= link_to 'Add Some Stuff!', new_character_item_url(@pc), class: 'btn btn-primary btn-large' %>
    </div>
  </div>
<% else %>
<div class="accordion" id="inv_accordion">
  <% @pc.items_by_group.each do |g, item_list| %>
      <div class="accordion-group">

        <div class="accordion-heading">
          <%= link_to "#{g}", "#collapse_#{g.parameterize.underscore}", class: 'btn btn-inverse', data: { toggle: 'collapse', parent: '#inv_accordion'} %>
        </div>

        <div id="collapse_<%= g.parameterize.underscore %>" class="accordion-body collapse">
          <% item_list.sort_by(&:name).each do |item| %>
          <div class="accordion-inner row-fluid">
            <div class="span9">
              <strong><%= item.name %></strong> (<%= item.category_name %> / <%= item.type_name %>)<br>
              <span class="muted"><%= item.description %></span>
            </div>
            <div class="span3 text-center">
              <%= link_to 'Delete', destroy_character_item_url(item.id, @pc.id), method: :post, class: 'btn btn-small btn-info' %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<% end %>
