<!DOCTYPE html>
<html>
<head>
  <title>Eclipse Phase Player Assistant</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class='navbar-inner'>
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Eclipse Phase', root_url, class: 'brand' %>
      <div class="collapse nav-collapse">
        <ul class="nav">
          <li class="active"><a href="<%= root_url %>">Home</a></li>
          <% if user_signed_in? then %>
          <li><a href="#">Page One</a></li>
          <li><a href="#">Page Two</a></li>
          <li><%= link_to 'Logout', destroy_user_session_url, method: :delete %></li>
          <% else %>
          <li><%= link_to 'Login', new_user_session_url %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron"></div>

<div class="container">
  <div class="row">
    <div class="span12">
      <% flash.each do |key, msg| %>
        <div id="<%= key %>" class="alert alert-<%= key %>">
          <p><%= msg %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
